<%- include('layout.html') -%>

<h1>Users</h1>
<ul id="users">
  <% users.forEach(function(user){ %>
  <li>username: <%= user.username %> id:<%= user.id %></li>
  <% }) %>
</ul>

<form
  method="post"
  style="display: flex; flex-direction: column; max-width: 200px"
>
  <label for="username">user name</label>
  <input type="text" name="username" />
  <label for="password">password</label>
  <input type="text" name="password" />
  <label for="confirmpw">confirm password</label>
  <input type="text" name="confirmpw" />
  <button type="submit" style="margin-top: 0.5rem">signup</button>
</form>

<% if(locals.errors){ %>
<ul>
  <% errors.forEach((err) => { %>
  <li><%= err.msg %></li>
  <% }) %>
</ul>
<% } %>
